<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${applicationName}"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
    <header>
        <div th:replace="~{fragments/header:: user_panel}"></div>
        <div th:replace="~{fragments/common:: alert}"></div>
        <div th:replace="~{fragments/common:: tokens}"></div>
    </header>
    <!-- 자식 .html이 들어가는 곳-->
    <main layout:fragment="content"></main>
    <footer>
    </footer>
</body>
</html>