<!DOCTYPE html>
<html layout:decorate="~{layout/common_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content" th:object="${board}">
    <!-- 수정,삭제 버튼 패널 -->
    <div th:replace="~{fragments/board_common :: boardDetailButtonPanel}"></div>

    <!-- 게시물 -->
    <div>
        <div>
            [<span th:text="*{status}"></span>] <span th:text="*{title}"></span>
        </div>
        <div>
            작성자 <span th:text="*{userName}"></span>
        </div>
        <div>
            작성날짜 <span th:text="*{createdAt}"></span>
        </div>
        <div>
            종류 <span th:text="#{'animalSpecies.' + *{species}}"></span>
        </div>
        <div>
            실종날짜 <span th:text="*{missingDate}"></span>
        </div>
        <div>
            실종장소 <span th:text="*{missingLocation}"></span>
        </div>
        <div class="board-content" th:utext="*{content}"></div>
        <!-- TODO : 댓글 목록 -->
    </div>
</div>
</html>