<!DOCTYPE html>
<html layout:decorate="~{layout/common_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <!-- 삭제 버튼 패널 -->
    <div th:replace="~{fragments/board_common :: boardWriteButtonPanel}"></div>

    <!-- form -->
    <form th:action="${url}" th:object="${request}" method="post">
        <p th:if="${errorMsg}"  th:text="${errorMsg}"></p>
        <input th:if="*{mode == 'modify'}" type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{mode}">
        <div>
            제목 <input type="text" th:field="*{title}">
        </div>
        <div>
            종류
            <span th:each="species : ${list_animalSpecies}">
                <label>
                    <!-- th:checked : form submit 실패 시 기존 값 복원하려는 용도로 썼음-->
                    <input type="radio"
                           name="species"
                           th:value="${species}" th:checked="${request.species == species}"/>
                    <span th:text="#{${'animalSpecies.' + species.name()}}"></span>
                </label>
            </span>
        </div>
        <div>
            실종날짜 <input type="date" th:field="*{missingDate}">
        </div>
        <div>
            <!-- TODO : 도/시/군 으로 나눠서 표시되게 변경 -->
            <!-- TODO : 지도 표시-->
            실종장소 <input type="text" th:field="*{missingLocation}">
        </div>
        <div>
            <!-- TODO : 이미지 표시-->
            이미지 업로드
        </div>
        <div>
            내용
            <textarea th:field="*{content}"></textarea>
        </div>
        <div>
            <button th:if="*{mode != 'modify'}" type="submit">등록</button>
            <button th:if="*{mode == 'modify'}" type="submit">수정</button>
        </div>
    </form>
</div>
</html>