<html>
<head>
    <link rel="stylesheet" th:href="@{/common.css}">
</head>
<body>
<form th:action="${url}" th:object="${request}" method="post">
    <div>
        아이디 <input type="text" th:field="*{user_name}">
    </div>
    <div>
        비밀번호 <input type="password" th:field="*{password}">
    </div>
    <div>
        회원유형
        <span th:each="user_type : ${list_userType}">
            <label>
                <!-- name : dto 필드명-->
                <input type="radio"
                    name="user_type"
                    th:value="${user_type}" th:checked="${request.user_type == user_type}"/>
                <span th:text="#{${'userType.' + user_type.name()}}"></span>
            </label>
        </span>
        <!-- TODO : 보호소 계정일 경우 보호소 목록 출력-->
        <div id="optional_display_shelter" class="display_hidden">
            <select name="shelter_id">
                <option value="">보호소 선택</option>
                <th:block th:each="shelter : ${list_shelter}">
                    <option th:value="${shelter.id}"
                            th:text="${shelter.name}"
                            th:selected="${request.shelter_id == shelter.id}">
                    </option>
                </th:block>
            </select>
        </div>
    </div>
    <p id="errorMsg" th:if="${errorMsg}"  th:text="${errorMsg}"></p>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>