<!-- 게시물 목록 패널 -->
<th:block th:fragment="list" th:object="${boardListResponse}">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성날짜</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : *{boardPage.content}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{${detail_url}(id=${board.id})}"
                   th:text="${board.title}">
                </a>
            </td>
            <td th:text="${board.createdAt}"></td>
            <td th:text="${board.userName}"></td>
        </tr>
        <tr th:if="*{boardPage.empty}">
            <td colspan="4">등록된 게시물이 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/board_common :: paging}"></div>
</th:block>

<!-- 게시물 목록 페이징 패널 -->
<th:block th:fragment="paging">
    <a th:if="*{startPage > 0}"
       th:href="@{${list_url}(page=${startPage - 1})}">
        이전
    </a>

    <a th:each="i : *{#numbers.sequence(startPage, endPage)}"
       th:href="@{${list_url}(page=${i})}"
       th:text="${i + 1}">
    </a>

    <a th:if="*{endPage < boardPage.totalPages - 1}"
       th:href="@{${list_url}(page=${endPage + 1})}">
        다음
    </a>
</th:block>

<!-- 게시물 detail 페이지 버튼 패널 -->
<th:block th:fragment="boardDetailButtonPanel">
    <a th:href="@{${modify_url}(id=*{id})}">수정</a>
    <span th:replace="~{fragments/board_buttons :: btn_board_delete}"></span>
    <span th:replace="~{fragments/board_buttons :: btn_board_list}"></span>
</th:block>

<!-- 게시물 write 페이지 버튼 패널 -->
<th:block th:fragment="boardWriteButtonPanel">
    <span th:replace="~{fragments/board_buttons :: btn_board_delete}"></span>
    <span th:replace="~{fragments/board_buttons :: btn_board_list}"></span>
</th:block>

<!-- 게시물 에디터 패널 -->
<th:block th:fragment="contentEditorPanel">
    <style>
        #content + .ck-editor .ck-editor__editable_inline {
            min-height: 700px;
        }
    </style>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <textarea id="content" th:field="*{content}"></textarea>
    <script th:src="@{/js/ckeditor-upload-adapter.js}"></script>
    <script th:src="@{/js/content-editor.js(v=${appVersion})}"></script>
</th:block>