<!-- 게시물 목록 패널 -->
<th:block th:fragment="list" th:object="${boardListResponse}">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : *{boardPage.content}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{${detail_url}(id=${board.id})}"
                   th:text="${board.title}">
                </a>
            </td>
            <td th:text="${board.createdAt}"></td>
        </tr>
        <tr th:if="*{boardPage.empty}">
            <td colspan="3">등록된 게시물이 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/board_common :: paging(${url})}"></div>
</th:block>

<!-- 게시물 목록 페이징 패널 -->
<th:block th:fragment="paging(LIST_URL_PREFIX)">
    <a th:if="*{startPage > 0}"
       th:href="*{LIST_URL_PREFIX + '?page=' + (startPage - 1)}">
        이전
    </a>

    <a th:each="i : *{#numbers.sequence(startPage, endPage)}"
       th:href="${LIST_URL_PREFIX + '?page=' + i}"
       th:text="${i + 1}">
    </a>

    <a th:if="*{endPage < boardPage.totalPages - 1}"
       th:href="*{LIST_URL_PREFIX + '?page=' + (endPage + 1)}">
        다음
    </a>
</th:block>

<!-- 게시물 detail 페이지 버튼 패널 -->
<th:block th:fragment="boardDetailButtonPanel">
    <a th:href="@{${modify_url}(id=${board.id})}">수정</a>
    <a th:href="@{${delete_url}(id=${board.id})}">삭제</a>
    <a th:href="@{${list_url}}">게시물 목록</a>
</th:block>

<!-- 게시물 write 페이지 버튼 패널 -->
<th:block th:fragment="boardWriteButtonPanel">
    <a th:if="${request.mode == 'modify'}" th:href="@{${delete_url}(id=${request.id})}">삭제</a>
    <a th:href="@{${list_url}}">게시물 목록</a>
</th:block>