<!-- 게시물 목록 패널 -->
<th:block th:fragment="list">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성날짜</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boardList.content}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{${detail_url}(id=${board.id})}"
                   th:text="${board.title}">
                </a>
            </td>
            <td th:text="${board.createdAt}"></td>
            <td th:text="${board.userName}"></td>
        </tr>
        <tr th:if="${boardList.empty}">
            <td colspan="4">등록된 게시물이 없습니다.</td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/board_common :: paging(${boardList})}"></div>
</th:block>

<!-- 게시물 댓글 패널 -->
<th:block th:fragment="commentsPanel">
    <div th:replace="~{fragments/board_common :: commentWritePanel}"></div>
    <p id="comment-list-error-msg"></p>
    <div id="comment-list"></div>
    <div id="comment-paging"></div>
    <script th:src="@{/js/board-comment.js(v=${appVersion})}"></script>
</th:block>

<!-- 게시물 댓글 작성 패널 -->
<th:block th:fragment="commentWritePanel">
    <div>
        댓글 작성
    </div>
    <p class="error-msg"  id="comment-write-error-msg"></p>
    <form action="/board/comment/add" th:object="${commentWriteRequest}" method="post" id="board-comment-add-form">
        <div th:if="${loginUser == null}">
            <input type="text" th:field="*{userName}" placeholder="이름">
            <input type="password" th:field="*{password}" placeholder="비밀번호">
        </div>
        <textarea th:field="*{content}"></textarea>
        <div>
            <button type="submit">등록</button>
        </div>
        <input type="hidden" th:field="*{boardType}">
        <input type="hidden" th:field="*{boardId}">
    </form>
</th:block>

<!-- 페이징 패널 -->
<th:block th:fragment="paging(listObj)" th:unless="${listObj.empty}">
    <a th:if="${paging.startPage > 0}"
       th:href="${paging.urlPrefix + paging.startPage - 1}">
        이전
    </a>

    <a th:each="i : ${#numbers.sequence(paging.startPage, paging.endPage)}"
       th:href="${paging.urlPrefix + i}"
       th:text="${i + 1}">
    </a>

    <a th:if="${paging.endPage} < ${listObj.totalPages - 1}"
       th:href="${paging.urlPrefix + paging.endPage + 1}">
        다음
    </a>
</th:block>

<!-- 게시물 detail 페이지 버튼 패널 -->
<th:block th:fragment="boardDetailButtonPanel">
    <a th:href="@{${modify_url}(id=*{id})}">수정</a>
    <span th:replace="~{fragments/board_buttons :: btn_board_delete}"></span>
    <span th:replace="~{fragments/board_buttons :: btn_board_list}"></span>
</th:block>

<!-- 게시물 write 페이지 버튼 패널 -->
<th:block th:fragment="boardWriteButtonPanel">
    <span th:replace="~{fragments/board_buttons :: btn_board_delete}"></span>
    <span th:replace="~{fragments/board_buttons :: btn_board_list}"></span>
</th:block>

<!-- 게시물 에디터 패널 -->
<th:block th:fragment="contentEditorPanel">
    <style>
        #content + .ck-editor .ck-editor__editable_inline {
            min-height: 700px;
        }
    </style>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
    <textarea id="content" th:field="*{content}"></textarea>
    <script th:src="@{/js/ckeditor-upload-adapter.js}"></script>
    <script th:src="@{/js/content-editor.js(v=${appVersion})}"></script>
</th:block>