<!DOCTYPE html>
<html>
<body>
<!-- 로그인, 회원가입 관련 링크 패널-->
<div>
<div th:if="${has_login_user}">
    <b th:text="${user_name}"></b>님 로그인
</div>
<div>
<span th:unless="${has_login_user}">
    <a th:href="${url_login}">로그인</a>
    <a th:href="${url_signup}">회원가입</a>
</span>
    <form th:if="${has_login_user}" th:action="${url_logout}" method="post">
        <button type="submit">
            로그아웃
        </button>
    </form>
</div>
</div>

<!-- 게시판 패널-->
<div>
    <a th:href="${url_board_missing_animal_list}">실종신고 게시판</a>
    <a th:href="${url_board_rescued_animal_list}">보호동물 조회</a>
</div>

</body>
</html>